.univer-box-border {
  box-sizing: border-box;
}

.univer-grid {
  display: grid;
}

.univer-size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.univer-cursor-pointer {
  cursor: pointer;
}

.univer-grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.univer-gap-x-2 {
  -moz-column-gap: .5rem;
  column-gap: .5rem;
}

.univer-gap-y-3 {
  row-gap: .75rem;
}

.univer-rounded {
  border-radius: .25rem;
}

.univer-ring-\[1\.5px\] {
  --univer-tw-ring-offset-shadow: var(--univer-tw-ring-inset) 0 0 0 var(--univer-tw-ring-offset-width) var(--univer-tw-ring-offset-color);
  --univer-tw-ring-shadow: var(--univer-tw-ring-inset) 0 0 0 calc(1.5px + var(--univer-tw-ring-offset-width)) var(--univer-tw-ring-color);
  box-shadow: var(--univer-tw-ring-offset-shadow), var(--univer-tw-ring-shadow), 0 0 #0000;
  box-shadow: var(--univer-tw-ring-offset-shadow), var(--univer-tw-ring-shadow), var(--univer-tw-shadow, 0 0 #0000);
}

.univer-ring-primary-600 {
  --univer-tw-ring-color: var(--univer-primary-600);
}

.univer-ring-offset-1 {
  --univer-tw-ring-offset-width: 1px;
}

.univer-transition-shadow {
  transition-property: box-shadow;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.hover\:univer-ring-\[1\.5px\]:hover {
  --univer-tw-ring-offset-shadow: var(--univer-tw-ring-inset) 0 0 0 var(--univer-tw-ring-offset-width) var(--univer-tw-ring-offset-color);
  --univer-tw-ring-shadow: var(--univer-tw-ring-inset) 0 0 0 calc(1.5px + var(--univer-tw-ring-offset-width)) var(--univer-tw-ring-color);
  box-shadow: var(--univer-tw-ring-offset-shadow), var(--univer-tw-ring-shadow), 0 0 #0000;
  box-shadow: var(--univer-tw-ring-offset-shadow), var(--univer-tw-ring-shadow), var(--univer-tw-shadow, 0 0 #0000);
}

.hover\:univer-ring-primary-600:hover {
  --univer-tw-ring-color: var(--univer-primary-600);
}
